@media only screen and (max-width: 700px){
    main {
        display: flex;
        flex-flow: row wrap;
        section {
            width: 100vw;
            height: calc(47vh - 3.5vh);
            padding: calc(1.5vw + 0.5vh);
        }
    }
    .actions-container{
        display: none;
    }
    .actions-container-mobile{
        background-color: hsl(100, 100%, 85%);
        display: flex;
        width: 100%;
        height: calc(100vh - (3.5vw + 3.5vh) - (47vh - 3.5vh) * 2);
        position: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        button{
            padding: 1vh 2vw;
            color: black;
            background-color: hsl(0, 0%, 70%);
            margin: 0 2px;
        }
    }
}
.roll-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(5vw + 3vh);
    height: calc(5vw + 3vh);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px gray;
    p {
        font-size: calc(2vw + 2vh) ;
        font-weight: bold;
        color: hsl(0, 0%, 15%);
    }
}
