* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Odibee Sans", cursive;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: hsl(100deg, 100%, 85%);
  margin: 0;
  height: calc(3.5vw + 3.5vh);
}
header aside img {
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  justify-self: flex-start;
  margin-left: 3vw;
}
header section {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .languages {
  flex-basis: 20%;
}
header .languages div h6 {
  background-color: white;
  margin: 1vh 1.5vw;
  padding: 0.5vh 1vw;
  border-radius: 5px;
  box-shadow: 1px 1px 4px green;
  transition: all 200ms;
}
header .languages div h6:hover {
  background-color: hsl(100deg, 90%, 20%);
  box-shadow: 1px 1px 4px darkgreen;
  cursor: pointer;
  color: white;
  transition: all 200ms;
}
header .languages div h6:active {
  background-color: hsl(100deg, 85%, 10%);
  box-shadow: inset 1px 1px 4px hsl(120deg, 100%, 50%);
  cursor: none;
  color: white;
  transition: all 200ms;
}

main {
  display: flex;
  flex-flow: row nowrap;
}
main section {
  width: 50%;
  height: calc(100vh - 3.5vw - 3.5vh);
  padding: calc(1.5vw + 0.5vh);
}
main section div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.p1-container {
  background-color: hsl(200deg, 100%, 85%);
}

.p2-container {
  background-color: hsl(300deg, 100%, 85%);
}

.p1-container,
.p2-container {
  position: relative;
}

.active .mask {
  display: none;
  transition: 1s;
}

.mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  transition: 1s;
}

.actions-container {
  display: flex;
  width: 100%;
  height: 85%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}

.actions-container-mobile {
  display: none;
}

button {
  font-family: "Odibee Sans", cursive;
  padding: 1vh 2vw;
  border-radius: 5px;
  font-size: calc(1.5vw + 1vh);
  border: none;
  color: hsl(0deg, 0%, 25%);
  box-shadow: 1px 2px 2px rgb(198, 198, 198);
  background-color: hsl(0deg, 0%, 90%);
  transition: all 300ms;
}

button:hover {
  background-color: grey;
  color: white;
  transition: all 200ms;
  box-shadow: 1px 2px 2px hsl(0deg, 0%, 30%);
  cursor: pointer;
}

button:active {
  background-color: rgb(100, 100, 100);
  color: white;
  transition: all 200ms;
  box-shadow: inset 1px 2px 2px hsl(0deg, 0%, 30%);
  cursor: none;
}

.roll-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(3.5vw + 3vh);
  height: calc(3.5vw + 3vh);
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
}
.roll-number p {
  font-size: calc(2vw + 2vh);
  font-weight: bold;
  color: hsl(0deg, 0%, 15%);
}

.player-rolls {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.player-rolls div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);
  text-align: center;
  background-color: white;
  box-shadow: 1px 2px 2px gray;
  border-radius: 4px;
}
.player-rolls div h5 {
  padding-top: 3px;
}

.p2-rolls {
  padding-left: 6vw;
  padding-bottom: 1vh;
}

.p1-rolls {
  padding-right: 6vw;
  padding-bottom: 1vh;
}

.next-roll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.next-roll-container div {
  display: flex;
  flex-direction: row;
}
.next-roll-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.little-dice {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: calc(1vw + 1vh);
  height: calc(1vw + 1vh);
  border-radius: 3px;
  box-shadow: 1px 1px 2px hsl(0deg, 0%, 30%);
  border: 1px solid hsl(0deg, 0%, 70%);
  padding: 1vw;
}
.little-dice span {
  font-size: calc(1vw + 1vh);
  font-weight: bold;
  color: darkgreen;
}

.p2-next-price, .p1-next-price {
  margin-left: 1vw;
}

footer {
  display: flex;
  position: absolute;
  top: 10%;
  left: 25%;
  font-family: "Roboto", sans-serif;
  z-index: 100;
  width: 50vw;
  background-color: white;
  flex-flow: column nowrap;
  padding: 1vw;
  border-radius: 1vw;
  box-shadow: 2px 2px 3px black, -1px -1px 3px gray;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  cursor: pointer;
}
footer h5 {
  padding: 1vw;
  text-decoration: underline wavy rgb(236, 236, 236);
}
footer h6 {
  padding-left: 2vw;
  text-decoration: underline gray;
}
footer ul {
  list-style: circle inside none;
  padding: 1vw 2vw;
  font-size: clamp(16px, 1.5vw, 25px);
  font-weight: bold;
}
footer ul ul {
  list-style: square outside none;
  padding: 0.5vw 3vw 1vw;
}
footer ul ul li {
  font-weight: normal;
  font-size: clamp(15px, 1.4vw, 22px);
}

#victory {
  position: absolute;
  top: 30vh;
  left: 20%;
  width: 60vw;
  height: 40vh;
  border-radius: calc(1vw + 1vh);
  z-index: 99;
  transition: all 1s;
}
#victory div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
